@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --borderlight: 1px solid rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
}

.kamblog__app {
  padding: 1rem;
}

/* Logo */
.kamblog__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}
.kamblog__logo > img {
  width: 135px;
  margin: auto;
  object-fit: cover;
}
