@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --borderlight: 1px solid rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
}

/** Hide */
.hide {
  opacity: 0;
}

.kamblog__app {
  padding: 1rem;
}

/* Logo */
.kamblog__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}
.kamblog__logo > img {
  width: 135px;
  margin: auto;
  object-fit: cover;
}

/** Search  */
.kamblog__searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kamblog__searchbar input {
  width: 32rem;
  margin: auto;
  max-width: 100%;
  font-size: 17px;
  padding: 8px 15px;
  border: var(--borderlight);
  border-radius: 5px;
}

/* App Container */
.appcontainer {
  max-width: 65rem;
  margin: 10px auto;
}

/** Articles content */
.kamblog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.kamblog__content article {
  clear: both;
  max-width: 387px;
  border: var(--borderlight);
  border-radius: 5px;
  padding: 18px;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.kamblog__content article > p {
  font-size: 13px;
}

/** Loading */
.kamblog__loading {
  text-align: center;
  margin: 25px 0;
  font-weight: 800;
  width: 100%;
  transition: opacity 0.3s ease;
}

.kamblog__loading > img {
  width: 90px;
}

/** Pagination */
.kamblog__pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 200px;
  margin: 35px auto;
}

.kamblog__prev,
.kamblog__next {
  cursor: pointer;
  width: 100%;
  min-width: 122px;
  height: 35px;
  margin: auto;
  appearance: none;
  border: none;
  background-color: #8c52ff;
  color: #fff;
  box-shadow: 0px 0px 4px 3px rgb(0 0 0 / 7%);
  outline: none;
  font-weight: bold;
  padding: 2px 22px;
}

.kamblog__next {
  font-size: 16px;
}

/** Responsive */

@media (max-width: 900px) {
  .kamblog__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .kamblog__content {
    grid-template-columns: 1fr;
  }
}
