@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --borderlight: 1px solid rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
}

.kamblog__app {
  padding: 1rem;
}

/* Logo */
.kamblog__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}
.kamblog__logo > img {
  width: 135px;
  margin: auto;
  object-fit: cover;
}

/** Search  */
.kamblog__searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kamblog__searchbar input {
  width: 32rem;
  margin: auto;
  max-width: 100%;
  font-size: 17px;
  padding: 8px 15px;
  border: var(--borderlight);
  border-radius: 5px;
}

/* App Container */
.appcontainer {
  max-width: 65rem;
  margin: 10px auto;
}

/** Articles content */
.kamblog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.kamblog__content article {
  clear: both;
  max-width: 387px;
  border: var(--borderlight);
  border-radius: 5px;
  padding: 18px;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.kamblog__content article > p {
  font-size: 13px;
}

/* Hello */
.kamblog__hello {
  text-align: center;
  margin: 25px 0;
  font-weight: 800;
}

/** Responsive */

@media (max-width: 900px) {
  .kamblog__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .kamblog__content {
    grid-template-columns: 1fr;
  }
}
